.header__list-item {
    /* display: flex; */
    width: 30px;
    height: 28px;
    margin: 18px 0 6px 18px; 
    /*не обнулил левый margin у второй ссылки, 
    потому что отступ схлопнется*/
    text-decoration: underline;
}

.header__list-item:last-child {
    width: 29px;
}

.header__list-item:nth-child(2) {
    text-decoration: none;
}
/*не получалось убрать у второго элемента отступ,
только так получилось*/