.photo-grid {
    max-width: 1184px;
    min-height: 671px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(213px, 1fr)); */
    /*не знаю надо ли задавать строки*/
    gap: 16px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        height: 942px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        /* grid-template-rows: repeat(4, 1fr); */
        /*не знаю надо ли задавать строки*/
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        height: 1664px;
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        gap: 16px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: 288px;
        height: 2724px;
        grid-template-columns: repeat((auto-fit, minmax(288px, 1fr)));
        gap: 12px;
    }
}