.places {
    display: grid;
    max-width: 984px;
    grid-template-rows: repeat(5, minmax(min-content, max-content));
    margin: 92px auto;
}

@media screen and (max-width: 1279px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .places {
        max-width: 720px;
        margin: 88px auto 90px auto;
    }
}

@media screen and (max-width: 767px) {
    .places {
        max-width: 767px;
        width: 100%;
        margin: 64px auto 66px auto;
    }
}