.places {
    display: grid;
    max-width: 984px;
    /*установил точную высоту, чтобы сетка выстроилась*/
    grid-template-rows: repeat(5, 1fr);
    margin: 92px auto;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
        margin: 88px auto 90px auto;
    }
}

@media screen and (max-width: 320px) {
    .places {
        max-width: 320px;
        margin: 64px 0 66px 0;
    }
}