@font-face {
    font-family: 'Inter';
    src: url('./Inter-Regular.ttf') format('woff2'),
    url('./Inter-Regular.ttf') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./Inter-Black.ttf') format('woff2'),
    url('./Inter-Black.ttf') format('woff');
    font-weight: 900;
}

@font-face {
    font-family: 'Inter';
    src: url('./Inter-Bold.ttf') format('woff2'),
    url('./Inter-Bold.ttf') format('woff');
    font-weight: bold;
}