.lead__image {
    max-width: 984px;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        width: calc(768px - 0.625*(768px - 100vw));
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        width: calc(320px - (320px - 100vw));
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        max-width: 320px;
    }
}