.intro {
    max-width: 690px;
    margin: 92px 0 92px 148px;
    min-height: 429px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin: 92px 0 92px 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin: 88px 24px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        min-height: 754px;
        margin: 64px auto;
    }
}