.place__link {
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    transition-duration: .8s;
}

.place__link:hover {
    opacity: .8;
    /*добавил анимацию при наведении на ссылку*/
}
