.lead__figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead__figure:last-child {
    align-items: flex-start;
}
/* добавил flex, чтобы выровнять изображение по центру */